* {
  box-sizing: border-box;
}

@keyframes apparition-loading {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes disparition-loading {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1000px);
    height: 0vw;
    visibility: hidden;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
}
header h1 {
  margin: 0.1em auto;
}

.btn {
  text-align: center;
  font-size: 16px;
  width: 14em;
  border: none;
  border-radius: 30px;
  padding: 1em 0;
  color: white;
  background: linear-gradient(#ff79da, #9356DC);
  box-shadow: 4px 4px 4px grey;
  margin: 1em auto 0 auto;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(1.1);
  box-shadow: 4px 4px 4px rgb(78, 78, 78);
}

body {
  width: 100%;
  margin: 0px 0px 0px 0px;
  font-family: "Roboto", sans-serif;
}

.local {
  color: #404040;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: auto;
  padding: 10px 0px 10px 0px;
  gap: 1em;
  position: relative;
  margin: 0px auto;
  overflow: visible;
  box-shadow: 0em 0.1em 0.3em inset;
}
.local__city {
  width: 9rem;
  border: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.local__city :active {
  background-color: transparent;
}

.description__zone {
  background-color: #f6f6f6;
  padding-bottom: 40px;
}
.description__zone h2 {
  font-size: 24px;
  text-align: center;
  padding: 60px 20% 10px 20%;
  margin: 0px;
}
.description__zone p {
  font-size: 18px;
  color: #7d7d7d;
  text-align: center;
  padding: 10px 10% 10px 10%;
}

h2 {
  margin-left: 0.8em;
  padding-top: 1em;
}

.steps__step {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  border: none;
  border-radius: 20px;
  margin: 1em auto;
  position: relative;
  padding: 1em 0;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 5px 8px #e2e2e2;
}
.steps__step span {
  width: 1.7em;
  height: 1.7em;
  font-size: 0.8em;
  text-align: center;
  color: white;
  background-color: #9356DC;
  padding: 0.3em;
  border-radius: 50%;
  position: absolute;
  left: -0.9em;
}
.steps__step i {
  color: #7d7d7d;
  font-size: 22px;
}
.steps__step p {
  font-weight: 500;
}
.steps__step:hover {
  background-color: #f5edff;
}

#restaurants {
  background-color: #f6f6f6;
  padding-bottom: 4em;
  padding-top: 1em;
}

.loading {
  font-family: "Shrikhand", cursive;
  font-size: 15vw;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  animation: disparition-loading 0.5s both;
  animation-delay: 2s;
}
.loading .letter {
  animation: apparition-loading 1s both;
  animation-delay: 0.8s;
}
.loading .letter:nth-child(7) {
  animation-delay: 0.7s;
}
.loading .letter:nth-child(6) {
  animation-delay: 0.6s;
}
.loading .letter:nth-child(5) {
  animation-delay: 0.5s;
}
.loading .letter:nth-child(4) {
  animation-delay: 0.4s;
}
.loading .letter:nth-child(3) {
  animation-delay: 0.3s;
}
.loading .letter:nth-child(2) {
  animation-delay: 0.2s;
}
.loading .letter:nth-child(1) {
  animation-delay: 0.1s;
}

footer {
  background-color: #353535;
  text-decoration: none;
  color: white;
  font-weight: 400;
}
footer a {
  text-decoration: none;
  color: white;
}
footer h3 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  font-weight: 100;
  padding: 0.7em 0.9em;
}
footer i {
  width: 1em;
  margin: 0.7em;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0.5em 0.9em;
}
footer ul li {
  margin: 0.7em 0;
}

main {
  font-family: "Roboto" sans-serif;
}
main .menu-img {
  width: 100%;
  position: relative;
  z-index: -1;
  object-fit: cover;
  max-height: 16em;
}

/*# sourceMappingURL=style.css.map */
