@keyframes apparition-loading {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes disparition-loading {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1000px);
        height: 0vw;
        visibility: hidden;
    }
}

@keyframes heart-fill {
    0% {
        opacity: 0;
        color: transparent;
        -webkit-text-stroke-width: 0px;
        background: linear-gradient($color-secondary, $color-primary);
        background-clip: text;
    }

    100% {
        opacity: 1;
        background: linear-gradient($color-secondary, $color-primary);
        background-clip: text;
        -webkit-text-stroke-width: 0px;
    }

}

@keyframes valid-rotation {
    0% {
        transform: rotate(0deg);
        margin: 0;
    }
    20%{
        transform: rotate(0deg);
    }
    100% {
        margin: 0.2rem;
        transform: rotate(360deg);
    }
}

@keyframes showup {
    0% {
        opacity: 0;
        transform: translateZ(-100px);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.02);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}